// COLORS
$primary-color: #5e1c63;//about nd contact bg
$secondary-color: #a73eb7;//highlight text

$white-color: #ffffff;// bg color

$dark-grey: #211e21;//footr bg
$light-grey: #c5b3c5;//border image

$dark-blue-text: #2a1835; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
